{% block extraheader %}
<link rel="stylesheet" href="css/footer.css">
{% endblock %}

{% block footer %}
<footer class="footer mt-auto flex-shrink-0 d-inlign-flex">
    <div class="container-fluid p-0">
      <div class="eflows-line"></div>
      <div class="row mt-2 px-3">
        <div class="col-lg-6 col-12 d-inlign-flex">
          <p class="m-3 text-center align-self-center">
            <a href="https://www.eFlows4HPC.eu">
              <img src="https://eflows4hpc.eu/wp-content/uploads/2021/02/logo-blanc_1-1.svg" alt="eFlows4HPC Logo" title="eFlows4HPC" class="mr-4 align-self-center eflows-logo"/>
            </a>
            <a href="https://twitter.com/eFlows4HPC"><i class="fa fa-twitter-square m-2 fa-2x text-white"></i></a>
            <a href="https://www.linkedin.com/company/eflows4hpc/"><i class="fa fa-linkedin-square  mr-2 fa-2x text-white"></i></a>
            <a href="https://github.com/eflows4hpc/datacatalog"><i class="fa fa-github-square mr-2 fa-2x text-white"></i></a>
          </p>
        </div>
        <div class="col-lg-6 col-12 d-inlign-flex">
          <p class="m-2 align-self-center text-white">
          <span class="mr-3 mt-1 float-left">
            <img loading="lazy" src="https://eflows4hpc.eu/wp-content/uploads/2021/01/bandera-8.png" alt="" style="max-width:52px; max-height:34px">
          </span>
            <small style="display: flow-root">This work has been supported by the eFlows4HPC project, contract #955558. This project has received funding from the European High-Performance Computing Joint Undertaking (JU) under grant agreement No 955558.<br>The JU receives support from the European Union’s Horizon 2020 research and innovation programme and Spain, Germany, France, Italy, Poland, Switzerland, Norway. 
              <strong>
              <a style="color: #f39200" href="https://www.fz-juelich.de/portal/EN/Service/LegalNotice/_node.html">Impressum</a>
              </strong>
            </small>
          </p>
        </div>
      </div>
    </div>
</footer>
{% endblock %}
