{% extends "base.html.jinja"%}

{% block title %}Impressum{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="mt-5 col-sm-12 mb-5">
        <p>See <a href="https://www.fz-juelich.de/portal/EN/Service/LegalNotice/_node.html">here</a>.</p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    showElementsDependingOnLoginStatus(getInfo(false));
</script>
{% endblock %}