{% extends "base.html.jinja"%}

{% block title %}Login{% endblock %}
{% block extraheader %}
<link rel="stylesheet" href="css/loginform.css">
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="mt-5 col-sm-12  mb-5">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" id="authTokenExpiredAlert">
          Your stored authentication token expired, or is otherwise invalid.
          <hr>
          Please try to log in again.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div id="loginForm">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <!--
            <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
            </div>
            -->

            <!-- Login Form -->
            <form>
            <input type="text" id="usernameField" class="fadeIn second" name="login" placeholder="username" required='required'>
            <input type="password" id="passwordField" class="fadeIn third" name="login" placeholder="password" required='required'>
            <button type="submit" class="fadeIn fourth" value="Log In" id="loginButton">
            Log In
            </button>
            </form>

            <!-- Remind Passowrd -->
            <!--
            <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
            </div>
            -->
        </div>

        <div id="userinfoViewer">
          <table class="table table-hover">
            <tbody>
              </tr>
                <th scope="col">Username</th>
                <td scope="col" id="usernameLabel"></td>
              </tr>
              </tr>
                <th scope="col">e-mail</th>
                <td scope="col" id="emailLabel"></td>
              </tr>
              </tr>
                <th scope="row" colspan="2"><button type="button" class="btn btn-danger btn-lg btn-block" onclick="logout()">Log Out</button></th>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
// replace default submit with login function | this enables the browser automatic submit functionality, as submit on enter and check if fields are filled, but prevents the automatic query 
$("form").on('submit',function(e){
    e.preventDefault();
    login();
});
</script>
<script>
showElementsDependingOnLoginStatus(getInfo(true));
if (getUrlVars()["relog"] == "true") {
  $('#authTokenExpiredAlert').show();
} else {
  $('#authTokenExpiredAlert').hide();
}
</script>
{% endblock %}