{% extends "base.html.jinja"%}

{% block title %}Storage{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="mt-5 col-sm-12 mb-5">
        <div class="dropdown" id="storageTypeChooser">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownType" data-toggle="dropdown" aria-expanded="false">
            Select Storage Type
          </button> <label id="typetext">TYPENAME</label>
          <ul class="dropdown-menu" aria-labelledby="dropdownType" id="dropdownOptions">
          </ul>
        </div>

        <form class="form-inline" id="addNewDatasetForm">

          <a role="button" class="btn btn-secondary" id="addNewDatasetButton">Add New</a>

          <select class="custom-select" id="templateSelector">
            <option value="None" selected>No Template</option>          
          </select>
          
        </form>

        <hr/>

        <form class="form-inline" id="filterForm">
          <label class="my-1 mr-2">Filter Datasets: </label>

          <label class="sr-only" for="filterFormName">Name</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="filterFormName" placeholder="Name">
          
          <label class="sr-only" for="filterFormUrl">URL</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="filterFormUrl" placeholder="URL">
          
          <label class="sr-only" for="filterFormKeysLabel">Metadata Keys</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="filterFormKeys" placeholder="Metadata Keys">
          
          <label class="sr-only" for="filterFormSearchLabel">General Search</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="filterFormSearch" placeholder="General Search">
          
          <button type="button" class="btn btn-primary mb-2" id="filterButton" onclick="filterButtonPressed()">Filter</button>
        </form>
      
      <table class="table table-hover" id="datasetListTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">OID</th>
          </tr>
        </thead>
        <tbody id="datasetTableBody">
        </tbody>
      </table>

      <div class="table-responsive" id ="pagingBar">
        <table class="table">
          <td style="width:14%">
            <span>
              <a id="page1" href="#">First</a>
            </span>
          </td>

           <td style="width:14%">
            <span>
              <a id="page_prev_2" href="#"><<</a>
            </span>
          </td>

           <td style="width:14%">
            <span>
              <a id="page_prev_1" href="#">Previous</a>
            </span>
          </td>

          <td style="width:16%">
            <span class="text-center">
              <button id="page_goto" type="button" onclick="gotoButtonPressed()" class="btn btn-link">Go to</button>
              <input type="number" style="width:60px" id="pageInput" min="1">
            </span>
          </td>

          <td style="width:14%">
            <span class="float-right">
              <a id="page_next_1" href="#">Next</a>
            </span>
          </td>

          <td style="width:14%">
            <span class="float-right">
              <a id="page_next_2" href="#">>></a>
            </span>
          </td>
          
          <td style="width:14%">
            <span class="float-right">
              <a id="page_last" href="#">Last</a>
            </span>
          </td>
        </table>
      </div>

      <div id ="deleteButtonDiv">
        <button type="button" class="btn btn-danger" onclick="deleteMultipleButtonPressed()">Delete Selected Datasets</button>
      </div>

      <div class="btn-group" role="group" id="modifyDatasetButtonGroup">
        <button type="button" class="btn btn-success" disabled id="button-save" onclick="saveButtonPressed()">Save</button>
        <button type="button" class="btn btn-primary" id="button-edit" onclick="editButtonPressed()">Edit</button>
        <button type="button" class="btn btn-danger" id="button-delete" onclick="deleteButtonPressed()">Delete</button>
      </div>  

      <table class="table table-hover" id="datasetViewTable">
        <thead>
          <tr>
            <th scope="col">Property</th>
            <th scope="col" colspan="2">Value</th>
          </tr>
        </thead>
        <tbody id="datasetViewTableBody">
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
    setTypeText();
    getTypes();
    $('#datasetViewTable').hide();
    $('#submitButton').hide();
    $('#addNewDatasetButton').attr("href", "?type=" + getType() + "&oid=new");
    $('#modifyDatasetButtonGroup').hide();
    $('#addNewDatasetForm').hide();
    $('.dynamic-metadata-button').hide();
    showListingOrSingleDataset();
    showElementsDependingOnLoginStatus(getInfo(false));
    fillTemplateSelect();
    $('#templateSelector').change(updateTemplateParam);
    prefillFilterForm();
    setPageNumbers();
    </script>
{% endblock %}