{% extends "base.html.jinja"%}

{% block title %}Storage{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="mt-5 col-sm-12 mb-5">
        <div class="dropdown" id="storageTypeChooser">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownType" data-toggle="dropdown" aria-expanded="false">
            Select Storage Type
          </button> <label id="typetext">TYPENAME</label>
          <ul class="dropdown-menu" aria-labelledby="dropdownType" id="dropdownOptions">
          </ul>
        </div>

        <form class="form-inline" id="addNewDatasetForm">

          <a role="button" class="btn btn-secondary" id="addNewDatasetButton">Add New</a>

          <select class="custom-select" id="templateSelector">
            <option value="None" selected>No Template</option>          
          </select>
          
        </form>
      
      <table class="table table-hover" id="datasetListTable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">OID</th>
          </tr>
        </thead>
        <tbody id="datasetTableBody">
        </tbody>
      </table>

      <div class="btn-group" role="group" id="modifyDatasetButtonGroup">
        <button type="button" class="btn btn-success" disabled id="button-save" onclick="saveButtonPressed()">Save</button>
        <button type="button" class="btn btn-primary" id="button-edit" onclick="editButtonPressed()">Edit</button>
        <button type="button" class="btn btn-danger" id="button-delete" onclick="deleteButtonPressed()">Delete</button>
      </div>  

      <table class="table table-hover" id="datasetViewTable">
        <thead>
          <tr>
            <th scope="col">Property</th>
            <th scope="col" colspan="2">Value</th>
          </tr>
        </thead>
        <tbody id="datasetViewTableBody">
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
    setTypeText();
    getTypes();
    $('#datasetViewTable').hide();
    $('#submitButton').hide();
    $('#addNewDatasetButton').attr("href", "?type=" + getType() + "&oid=new");
    $('#modifyDatasetButtonGroup').hide();
    $('#addNewDatasetForm').hide();
    $('.dynamic-metadata-button').hide();
    showListingOrSingleDataset();
    showElementsDependingOnLoginStatus(getInfo(false));
    fillTemplateSelect();
    $('#templateSelector').change(updateTemplateParam)
    </script>
{% endblock %}